<script>
	import Nonogram from '$components/Draw.svelte';

	const { width, height, grid } = {
		"width":20,"height":30,
		"grid":"        #  # ##### #\n       #############\n     ############## \n       #############\n      ###### #######\n       ## #   ######\n          ### ######\n #####  ## #  # ####\n #   #  #      ##  #\n ### #   ##  #  #  #\n #####    # ##     #\n  ###     # ## #  ##\n   #      ##   #  ##\n ###       ####  ###\n### #        #   # #\n# # #        #######\n#   ##      ##   ###\n##   ##     ########\n  ##  ##   #########\n   ##  ## ##### ####\n ## ##  #####  #####\n ##  ##  ###########\n ##   ##    ########\n ##    #     ##### #\n####    #    ##### #\n## #    ##   #### ##\n#  #     ## #### ###\n#  #     ####   ####\n######## ###########\n####     ## ########"
	}
	
</script>

<Nonogram {width} {height} {grid} />
