<script>
	import Nonogram from '$components/Nonogram.svelte';

	const { width, height, hints: { horizontal, vertical } } = {
		width:20,
		height:30,
		hints: {
			horizontal: [
				[1,1,5,1],[13],[14],[13],[6,7],[2,1,6],[3,6],[5,2,1,1,4],[1,1,1,2,1],[3,1,2,1,1,1],[5,1,2,1],[3,1,2,1,2],[1,2,1,2],[3,4,3],[3,1,1,1,1],[1,1,1,7],[1,2,2,3],[2,2,8],[2,2,9],[2,2,5,4],[2,2,5,5],[2,2,11],[2,2,8],[2,1,5,1],[4,1,5,1],[2,1,2,4,2],[1,1,2,4,3],[1,1,4,4],[8,11],[4,2,8]
			],
			vertical: [
				[4,6],[4,2,1,6,2],[1,3,3,1,5,2],[1,5,2,6],[1,2,3,2,1],[1,4,2,2,1],[1,1,2,2,1],[5,2,2,1],[6,2,2,2],[4,1,1,2,5],[6,4,3,4],[5,2,2,4,2],[3,1,2,1,7,4],[5,3,7,6,2],[8,1,1,3,6,2],[7,1,2,1,2,7,2],[10,1,9,3],[8,12,4],[7,3,8,5],[2,27]
			]
		}
	}
	
</script>

<Nonogram {width} {height} {horizontal} {vertical} />
