<script>
  import Nonogram from './Nonogram.svelte'

  export let width = 10
  export let height = 10

  let _grid
  export { _grid as grid }

  $: if (_grid) {
    grid = _grid.split('\n').map(row => row.split('').map(v => v === '#'))
  }

  let grid = (Array(height).fill(0)).map((_, y) => Array(width).fill(0).map((_, x) => false))

  $: {
    if (width !== grid[0].length) {
      grid = grid.map(row => [...row, ...Array(Math.max(width - row.length, 0)).fill(false)].splice(0, width))
    }

    if (height !== grid.length) {
      grid = [...grid, ...Array(Math.max(height - grid.length, 0)).fill(0).map((_) => Array(width).fill(false))].splice(0, height)
    }
  }

  $: horizontal = grid
    .map(row => row.reduce((accumulator, value) => {
      const last = accumulator.pop()
      if (value) {
        return [...accumulator, last + 1]
      } else {
        if (last > 0) {
          return [...accumulator, last, 0]
        } else {
          return [...accumulator, 0]
        }
      }
    }, [0]).filter(v => v))
  $: vertical = (Array(width).fill(0))
    .map((_, y) => grid.map(row => row[y]))
    .map(column => column.reduce((accumulator, value) => {
        const last = accumulator.pop()
        if (value) {
          return [...accumulator, last + 1]
        } else {
          if (last > 0) {
            return [...accumulator, last, 0]
          } else {
            return [...accumulator, 0]
          }
        }
      }, [0]).filter(v => v)
    )

  $: maxHelpHorizontal = Math.max(...horizontal.map(row => row.length))
  $: maxHelpVertical = Math.max(...vertical.map(row => row.length))

  $: viewBox = `${-(maxHelpHorizontal + 0.1)} ${-(maxHelpVertical + 0.1)} ${width + 0.2 + maxHelpHorizontal} ${height + 0.2 + maxHelpVertical}`

  // $: {
  //   console.log("store:", JSON.stringify({
  //     width, height,
  //     grid: grid.map(row => row.map(v => v ? '#' : ' ').join('')).join('\n'),
  //     horizontal, vertical
  //   }))
  // }
</script>

<section>
  <input type=number min=5 max=100 bind:value={width} />
  X
  <input type=number min=5 max=100 bind:value={height} />
</section>

<Nonogram
  on:click={({ detail: { x, y}}) => grid[y][x] = !grid[y][x]}
  {width} {height}
  {horizontal} {vertical}
  {grid}
/>
