<script>
  import { createEventDispatcher } from 'svelte';

  export let width = 10
  export let height = 10
  export let horizontal = [], vertical = []
  export let grid = []

  const dispatch = createEventDispatcher()

  $: maxHelpHorizontal = Math.max(...horizontal.map(row => row.length))
  $: maxHelpVertical = Math.max(...vertical.map(row => row.length))

  $: viewBox = `${-(maxHelpHorizontal + 0.1)} ${-(maxHelpVertical + 0.1)} ${width + 0.2 + maxHelpHorizontal} ${height + 0.2 + maxHelpVertical}`
</script>

<svg {viewBox}>
  <!-- Helps -->
  {#each vertical as help, x}
    {#each [...help].reverse() as number, i}
      <text class='help'
        x={x + 0.5} y={-i - 0.2}
        font-size=0.8
        text-length=1
        text-anchor="middle"
      >{number}</text>
    {/each}
  {/each}

  {#each horizontal as help, y}
    {#each [...help].reverse() as number, i}
      <text class='help'
        y={y + 0.8}
        x={-i - 0.5}
        font-size=0.8
        text-length=1
        text-anchor="middle"
      >{number}</text>
    {/each}
  {/each}

  <!-- Grid -->
  {#each grid as row, y}
    {#each row as on, x}
      <rect class='square'
        class:on={on === true}
        class:off={on === false}
        {x} {y}
        width=1 height=1
        on:click={() => dispatch('click', { x, y })}
      />
    {/each}
  {/each}

  <!-- Horizontal lines -->
  {#each Array(height + maxHelpVertical + 1).fill(0).map((_, y) => y - maxHelpVertical) as y}
    <line class:thick={(y % 5 === 0) && y >= 0 || y + maxHelpVertical === 0} x1={y < 0 ? 0 : -maxHelpHorizontal} x2={width} y1={y} y2={y} />
  {/each}
  <!-- Vertical lines -->
  {#each Array(width + maxHelpHorizontal + 1).fill(0).map((_, x) => x - maxHelpHorizontal) as x}
    <line class:thick={(x % 5 === 0) && x >= 0 || x + maxHelpHorizontal === 0} x1={x} x2={x} y1={x < 0 ? 0 : -maxHelpVertical} y2={height} />
  {/each}
</svg>

<style>
  svg {
    max-height: 80vh;
    max-width: 80vw;
  }

  line {
    stroke: black;
    stroke-width: 0.01;
  }
  line.thick {
    stroke-width: 0.05;
  }

  .square {
    stroke-width: 0;
    fill: rgb(160, 160, 160);
  }
  .square.on {
    fill: black;
  }
  .square.off {
    fill: white;
  }
</style>