<script>
  import { onMount } from 'svelte'
  import Nonogram from '$components/Nonogram.svelte';
  
  export let width = 10
  export let height = 10
  export let horizontal = []
  export let vertical = []

  let grid = Array(height).fill().map(() => Array(width).fill(null))

  const sum = (...values) => values.reduce((sum, value) => value + sum, 0)

  const makeOptions = (rows, size) => Array(rows.length).fill().map((line, y) => {
    const hints = rows[y]
    const space = size - sum(...hints) - (hints.length - 1)
    const options = new Set()

    const generate = option => parseInt(option.reduce((result, value, index) => result + '0'.repeat(value) + '1'.repeat(hints[index]), '') + '0'.repeat(space - sum(...option) + hints.length - 1), 2)
    const spaces = Array(hints.length).fill(0)
    const next = (index = 0) => {
      if (sum(...spaces) < space) {
        spaces[index] ++
      } else {
        spaces[index] = 0

        if (index + 1 < spaces.length) {
          return next(index + 1)
        } else {
          return false
        }
      }
      return true
    }

    options.add(generate(spaces.map((value, index) => index ? value + 1 : value)))
    while (true) {
      if (!next()) return options

      options.add(generate(spaces.map((value, index) => index ? value + 1 : value)))
    }
  })
  const fixate = (options, size, compare, check, cb) => {
    let valid  = [...options].reduce(compare, parseInt(check.repeat(size), 2)).toString(2)
      valid = "0".repeat(size - valid.length) + valid

      valid.split('').forEach((v, i) => {
        if (v === check) {
          cb(i)
        }
      })
  }
  let rowOptions, colOptions
  const solve = () => {
    // Generate all possible options per row/column
    while (sum(...rowOptions.map(opt => opt.size)) !== height && sum(...colOptions.map(opt => opt.size)) !== width) {

      rowOptions.forEach((options, y) => {
        fixate(options, width, (v, i) => v & i, "1", x => grid[y][x] = true)
        fixate(options, width, (v, i) => v | i,  "0", x => grid[y][x] = false)
      })
      // Filter column options
      colOptions.forEach((options, x) => {
        const values = grid.map(row => row[x])
        
        options.forEach(option => {
          if (values.filter((value, index) => {
            if (value === true) {
              if (!((1 << (height - index - 1)) & option)) {
                return true
              }
            } else if (value === false) {
              if ((1 << (height - index - 1)) & option) {
                return true
              }
            }
          }).length) {
            options.delete(option)
          }
        })
      })
      colOptions.forEach((options, x) => {
        fixate(options, height, (v, i) => v & i, "1", y => grid[y][x] = true)
        fixate(options, height, (v, i) => v | i, "0", y => grid[y][x] = false)
      })
      // Filter row options
      rowOptions.forEach((options, y) => {
        const values = grid[y]
        
        options.forEach(option => {
          if (values.filter((value, index) => {
            if (value === true) {
              if (!((1 << (width - index - 1)) & option)) {
                return true
              }
            } else if (value === false) {
              if ((1 << (width - index - 1)) & option) {
                return true
              }
            }
          }).length) {
            options.delete(option)
          }
        })
      })
    }

    rowOptions.forEach((options, y) => {
        fixate(options, width, (v, i) => v & i, "1", x => grid[y][x] = true)
        fixate(options, width, (v, i) => v | i,  "0", x => grid[y][x] = false)
      })
  }

  onMount(() => {
    rowOptions = makeOptions(horizontal, width)
    colOptions = makeOptions(vertical, height)
  })

</script>
<button on:click={solve}>TICK</button>
<Nonogram {grid}
  {width} {height}
  {horizontal} {vertical}
/>
